
select.bs-select-hidden,
.bootstrap-select > select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}

.bootstrap-select > .dropdown-toggle {
  position: relative;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bootstrap-select > .dropdown-toggle:after {
  margin-top: -1px;
}

.bootstrap-select > select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none;
  z-index: 0 !important;
}
.bootstrap-select > select.mobile-device {
  top: 0;
  left: 0;
  display: block !important;
  width: 100% !important;
  z-index: 2 !important;
}
.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle,
.bootstrap-select.is-invalid .dropdown-toggle,
.was-validated .bootstrap-select select:invalid + .dropdown-toggle {
  border-color: #b94a48;
}




.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
  height: auto;
}







.bootstrap-select .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}






.datatable:not(.table) {
    display: none;
  }
  
  .datatable.datatable-default {
    display: block;
  }
  .datatable.datatable-default > .datatable-table {
    background-color: #ffffff;
    border-collapse: collapse;
    overflow: hidden;
    display: none;
    width: 100%;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head,
  .datatable.datatable-default > .datatable-table > .datatable-body,
  .datatable.datatable-default > .datatable-table > .datatable-foot {
    visibility: hidden;
    display: block;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row {
    width: 100%;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell {
    vertical-align: middle;
    padding: 1rem 1rem;
    font-size: 1rem;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell:first-child,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell:first-child,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell:first-child {
    padding-left: 0;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell:last-child,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell:last-child,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell:last-child {
    padding-right: 0;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-left,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-left,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-left {
    text-align: left;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-left > span,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-left > span,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-left > span {
    text-align: left;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-right,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-right,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-right {
    text-align: right;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-right > span,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-right > span,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-right > span {
    text-align: right;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-right > span > i,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-right > span > i,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-right > span > i {
    right: 0;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-center,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-center,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-center {
    text-align: center;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-center > span,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-center > span,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-center > span {
    text-align: center;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-sort,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-sort,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-sort {
    cursor: pointer;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-sort i,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-sort i,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-sort i {
    font-size: 0.6rem;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-resizing,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-resizing,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-resizing {
    cursor: col-resize;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell > span,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell > span,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-check,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-check,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-check {
    text-align: left;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-check > span,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-check > span,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-check > span {
    overflow: visible;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-check > span > .checkbox,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-check > span > .checkbox,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-check > span > .checkbox {
    top: 2px;
    padding: 0;
    margin: 0 0 0 0;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-toggle-detail > span,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-toggle-detail > span,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-toggle-detail > span {
    width: 12px;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-toggle-detail > .datatable-toggle-detail,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-toggle-detail > .datatable-toggle-detail,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-toggle-detail > .datatable-toggle-detail {
    display: inline-block;
    text-align: right;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-toggle-detail > .datatable-toggle-detail > i,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-toggle-detail > .datatable-toggle-detail > i,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-toggle-detail > .datatable-toggle-detail > i {
    font-size: 1.4rem;
    width: 12px;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell .dropdown,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell .dropdown,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell .dropdown {
    display: inline-block;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell .dropdown .dropdown-menu,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell .dropdown .dropdown-menu,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell .dropdown .dropdown-menu {
    margin-top: 0.5rem;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell .dropdown.dropup .dropdown-menu,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell .dropdown.dropup .dropdown-menu,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell .dropdown.dropup .dropdown-menu {
    margin-top: auto;
    margin-bottom: 0.5rem;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell .dropdown .dropdown-menu.dropdown-menu-right,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell .dropdown .dropdown-menu.dropdown-menu-right,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell .dropdown .dropdown-menu.dropdown-menu-right {
    margin-right: -0.8rem;
    /*rtl:ignore*/
    margin-left: 65px;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell .dropdown .dropdown-menu.dropdown-menu-left,
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell .dropdown .dropdown-menu.dropdown-menu-left,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell .dropdown .dropdown-menu.dropdown-menu-left {
    margin-left: -10rem;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head > .datatable-lock,
  .datatable.datatable-default > .datatable-table > .datatable-body > .datatable-lock,
  .datatable.datatable-default > .datatable-table > .datatable-foot > .datatable-lock {
    border: 0;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head > .datatable-lock.datatable-lock-left,
  .datatable.datatable-default > .datatable-table > .datatable-body > .datatable-lock.datatable-lock-left,
  .datatable.datatable-default > .datatable-table > .datatable-foot > .datatable-lock.datatable-lock-left {
    z-index: 1;
    box-shadow: 0px 10px 17px 5px rgba(0, 0, 0, 0.075);
  }
  .datatable.datatable-default > .datatable-table > .datatable-head > .datatable-lock.datatable-lock-right,
  .datatable.datatable-default > .datatable-table > .datatable-body > .datatable-lock.datatable-lock-right,
  .datatable.datatable-default > .datatable-table > .datatable-foot > .datatable-lock.datatable-lock-right {
    box-shadow: 0px 10px 17px 5px rgba(0, 0, 0, 0.075);
  }
  .datatable.datatable-default > .datatable-table > .datatable-head > .datatable-lock.datatable-lock-scroll,
  .datatable.datatable-default > .datatable-table > .datatable-body > .datatable-lock.datatable-lock-scroll,
  .datatable.datatable-default > .datatable-table > .datatable-foot > .datatable-lock.datatable-lock-scroll {
    position: relative;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell > span,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell > span {
    font-weight: 500;
    vertical-align: middle;
    color: #181C32;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-sorted > span,
  .datatable.datatable-default > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-sorted > span {
    color: #DE1B1B;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell {
    padding: 0.75rem 1rem;
  }
  .datatable.datatable-default > .datatable-table > .datatable-head .datatable-row > .datatable-cell > span > i {
    display: inline-block;
    position: relative;
    right: -10px;
    line-height: 0;
    vertical-align: middle;
    font-size: 1.1rem;
    color: #DE1B1B;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body.ps {
    padding-bottom: 0;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell {
    font-weight: regular;
    transition: background 0.3s ease;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell > span {
    color: #3F4254;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-check > span > .checkbox {
    top: 1px;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row > .datatable-cell.datatable-cell-hover {
    transition: background 0.3s ease;
    background-color: transparent;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row.datatable-row-even > .datatable-cell {
    background-color: transparent;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row.datatable-row-active > .datatable-cell {
    background-color: #F3F6F9;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row.datatable-row-hover:not(.datatable-row-active) {
    transition: background 0.3s ease;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row.datatable-row-hover:not(.datatable-row-active) > .datatable-cell {
    transition: background 0.3s ease;
    background-color: transparent;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row-detail {
    display: block;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row-detail .datatable-detail {
    display: block;
    padding: 0 2.25rem;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row-detail .datatable-detail table {
    box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.05);
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row-detail .datatable-detail .datatable-row {
    display: table-row;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row-detail .datatable-detail .datatable-row > .datatable-cell {
    padding: 1rem 1.5rem;
    text-align: left;
    vertical-align: top;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row-detail .datatable-detail .datatable-row > .datatable-cell > span {
    width: auto !important;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row-detail .datatable-detail .datatable-row > .datatable-cell:first-child {
    font-weight: 500;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-row-detail .datatable-detail .datatable-row > .datatable-cell:last-child {
    font-weight: regular;
    padding-left: 1.5rem;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-toggle-detail {
    vertical-align: middle;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-toggle-detail i {
    transition: color 0.3s ease;
    color: #DE1B1B;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-toggle-detail i:before {
    line-height: 0;
    vertical-align: middle;
  }
  .datatable.datatable-default > .datatable-table > .datatable-body .datatable-toggle-detail:hover i, .datatable.datatable-default > .datatable-table > .datatable-body .datatable-toggle-detail.datatable-toggle-detail-active i {
    transition: color 0.3s ease;
    color: #DE1B1B;
  }
  .datatable.datatable-default.datatable-bordered > .datatable-table > .datatable-head .datatable-row,
  .datatable.datatable-default.datatable-bordered > .datatable-table > .datatable-body .datatable-row,
  .datatable.datatable-default.datatable-bordered > .datatable-table > .datatable-foot .datatable-row {
    border-bottom: 1px solid #EBEDF3;
  }
  .datatable.datatable-default.datatable-bordered > .datatable-table > .datatable-head .datatable-row.datatable-row-subtable-expanded,
  .datatable.datatable-default.datatable-bordered > .datatable-table > .datatable-body .datatable-row.datatable-row-subtable-expanded,
  .datatable.datatable-default.datatable-bordered > .datatable-table > .datatable-foot .datatable-row.datatable-row-subtable-expanded {
    border-bottom: 0;
  }
  .datatable.datatable-default.datatable-bordered > .datatable-table > .datatable-body .datatable-row:last-child {
    border-bottom: 0;
  }
  .datatable.datatable-default.datatable-bordered > .datatable-table > .datatable-body tr:last-of-type {
    border-bottom: 0;
  }
  .datatable.datatable-default.datatable-bordered > .datatable-table > .datatable-body .datatable-row-detail .datatable-detail table {
    border-left: 1px solid #EBEDF3;
    border-right: 1px solid #EBEDF3;
  }
  .datatable.datatable-default.datatable-head-custom > .datatable-table > .datatable-head .datatable-row > .datatable-cell > span,
  .datatable.datatable-default.datatable-head-custom > .datatable-table > .datatable-foot .datatable-row > .datatable-cell > span {
    color: #B5B5C3;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  .datatable.datatable-default.datatable-head-custom > .datatable-table > .datatable-head .datatable-row > .datatable-cell.datatable-cell-sorted > span,
  .datatable.datatable-default.datatable-head-custom > .datatable-table > .datatable-foot .datatable-row > .datatable-cell.datatable-cell-sorted > span {
    color: #DE1B1B;
  }
  .datatable.datatable-default.datatable-head-bg > .datatable-table > .datatable-head .datatable-row {
    border-bottom: 0;
  }
  .datatable.datatable-default.datatable-head-bg > .datatable-table > .datatable-head .datatable-row > .datatable-cell {
    background-color: #F3F6F9;
  }
  .datatable.datatable-default.datatable-head-bg > .datatable-table > .datatable-head .datatable-row > .datatable-cell:first-child {
    border-top-left-radius: 0.42rem;
    border-bottom-left-radius: 0.42rem;
  }
  .datatable.datatable-default.datatable-head-bg > .datatable-table > .datatable-head .datatable-row > .datatable-cell:last-child {
    border-top-right-radius: 0.42rem;
    border-bottom-right-radius: 0.42rem;
  }
  .datatable.datatable-default.datatable-foot-bg > .datatable-table > .datatable-foot .datatable-row {
    border-bottom: 0;
  }
  .datatable.datatable-default.datatable-foot-bg > .datatable-table > .datatable-foot .datatable-row > .datatable-cell {
    background-color: #F3F6F9;
  }
  .datatable.datatable-default.datatable-foot-bg > .datatable-table > .datatable-foot .datatable-row > .datatable-cell:first-child {
    border-top-left-radius: 0.42rem;
    border-bottom-left-radius: 0.42rem;
  }
  .datatable.datatable-default.datatable-foot-bg > .datatable-table > .datatable-foot .datatable-row > .datatable-cell:last-child {
    border-top-right-radius: 0.42rem;
    border-bottom-right-radius: 0.42rem;
  }
  .datatable.datatable-default.datatable-error .datatable-body {
    padding: 30px;
    text-align: center;
  }
  .datatable.datatable-default.datatable-lock > .datatable-table > .datatable-head > .datatable-lock,
  .datatable.datatable-default.datatable-lock > .datatable-table > .datatable-body > .datatable-lock,
  .datatable.datatable-default.datatable-lock > .datatable-table > .datatable-foot > .datatable-lock {
    display: inline-block;
    position: relative;
    vertical-align: top;
    overflow: hidden;
  }
  .datatable.datatable-default.datatable-loaded {
    display: block;
  }
  .datatable.datatable-default.datatable-loaded > .datatable-table {
    display: block;
  }
  .datatable.datatable-default.datatable-loaded > .datatable-table > .datatable-head,
  .datatable.datatable-default.datatable-loaded > .datatable-table > .datatable-body,
  .datatable.datatable-default.datatable-loaded > .datatable-table > .datatable-foot {
    visibility: visible;
    display: block;
    position: relative;
  }
  .datatable.datatable-default.datatable-loaded > .datatable-table > .datatable-head .datatable-row,
  .datatable.datatable-default.datatable-loaded > .datatable-table > .datatable-body .datatable-row,
  .datatable.datatable-default.datatable-loaded > .datatable-table > .datatable-foot .datatable-row {
    display: table;
    table-layout: initial;
  }
  .datatable.datatable-default.datatable-scroll > .datatable-table {
    display: block;
  }
  .datatable.datatable-default.datatable-scroll > .datatable-table > .datatable-head,
  .datatable.datatable-default.datatable-scroll > .datatable-table > .datatable-foot {
    overflow: hidden;
  }
  .datatable.datatable-default.datatable-scroll > .datatable-table > .datatable-head .datatable-row,
  .datatable.datatable-default.datatable-scroll > .datatable-table > .datatable-foot .datatable-row {
    position: relative;
  }
  .datatable.datatable-default.datatable-scroll > .datatable-table > .datatable-body {
    overflow: hidden;
  }
  .datatable.datatable-default.datatable-subtable > .datatable-table {
    margin-bottom: 0;
  }
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-head .datatable-toggle-subtable,
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-body .datatable-toggle-subtable,
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-foot .datatable-toggle-subtable {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-head .datatable-toggle-subtable > i,
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-body .datatable-toggle-subtable > i,
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-foot .datatable-toggle-subtable > i {
    line-height: 0;
    font-size: 1.4rem;
    color: #DE1B1B;
  }
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-head .datatable-toggle-subtable:hover,
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-body .datatable-toggle-subtable:hover,
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-foot .datatable-toggle-subtable:hover {
    text-decoration: none;
  }
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-head .datatable-row-subtable,
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-body .datatable-row-subtable,
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-foot .datatable-row-subtable {
    display: table;
    width: 100%;
    border-top: 0;
  }
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-head .datatable-row-subtable > .datatable-subtable > .datatable,
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-body .datatable-row-subtable > .datatable-subtable > .datatable,
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-foot .datatable-row-subtable > .datatable-subtable > .datatable {
    padding: 0 2.25rem;
  }
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-head .datatable-row-subtable > .datatable-subtable > .datatable > .datatable-pager,
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-body .datatable-row-subtable > .datatable-subtable > .datatable > .datatable-pager,
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-foot .datatable-row-subtable > .datatable-subtable > .datatable > .datatable-pager {
    padding: 2.25rem 0px;
  }
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-body .datatable-row.datatable-row-subtable-expanded > .datatable-cell {
    background-color: #F3F6F9 !important;
  }
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-body .datatable-row-subtable {
    background-color: transparent;
  }
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-body .datatable-row-subtable > .datatable-subtable > .datatable {
    box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.05);
  }
  .datatable.datatable-default.datatable-subtable > .datatable-table > .datatable-body .datatable-row-subtable.datatable-row-loading > .datatable-subtable > .datatable > .datatable-table {
    background-color: transparent;
  }
  .datatable.datatable-default > .datatable-pager {
    margin: 0px;
    padding: 1rem 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .datatable.datatable-default > .datatable-pager.datatable-pager-top {
    margin-bottom: 10px;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-nav {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li {
    padding: 0;
    margin-right: 5px;
    display: inline-block;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li:last-child {
    margin-right: 0;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li > .datatable-pager-link {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    min-width: 2.25rem;
    padding: 0.5rem;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    position: relative;
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 500;
    border-radius: 0.42rem;
    color: #7E8299;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li > .datatable-pager-link > i {
    font-size: 0.6rem;
    text-align: center;
    display: inline-block;
    line-height: 0;
    color: #B5B5C3;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li > .datatable-pager-link.datatable-pager-link-first, .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li > .datatable-pager-link.datatable-pager-link-prev, .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li > .datatable-pager-link.datatable-pager-link-next, .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li > .datatable-pager-link.datatable-pager-link-last {
    background-color: #ecf1f6;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li > .datatable-pager-link.datatable-pager-link-disabled {
    opacity: 0.6;
    cursor: default;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li > .datatable-pager-link:hover:not(.datatable-pager-link-disabled) {
    opacity: 1;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    background-color: #DE1B1B;
    color: #FFFFFF;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li > .datatable-pager-link:hover:not(.datatable-pager-link-disabled) i {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    color: #FFFFFF;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li > .datatable-pager-link.datatable-pager-link-active {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    background-color: #DE1B1B;
    color: #FFFFFF;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li > .datatable-pager-link.datatable-pager-link-active i {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    color: #FFFFFF;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li > .datatable-pager-input {
    height: 2.25rem;
    width: 3.5rem;
    text-align: center;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    border-radius: 0.42rem !important;
    background-color: #ecf1f6;
    border-color: #ecf1f6;
    color: #7E8299;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-nav > li > .datatable-pager-input:focus {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    background-color: #ecf1f6;
    border-color: #ecf1f6;
    color: #7E8299;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info {
    display: flex;
    align-items: center;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size {
    margin-right: 10px;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .btn.dropdown-toggle {
    height: 2.25rem;
    padding: 0.45rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border: 0 !important;
    color: #7E8299;
    background-color: #ecf1f6 !important;
    border-radius: 0.42rem;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .btn.dropdown-toggle .filter-option, .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .btn.dropdown-toggle:after,
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .btn.dropdown-toggle i {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    color: #7E8299;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .btn.dropdown-toggle:focus,
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .btn.dropdown-toggle:hover, .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size.show > .btn.dropdown-toggle {
    border: 0 !important;
    color: #FFFFFF !important;
    background-color: #DE1B1B !important;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .btn.dropdown-toggle:focus .filter-option, .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .btn.dropdown-toggle:focus:after,
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .btn.dropdown-toggle:focus i,
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .btn.dropdown-toggle:hover .filter-option,
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .btn.dropdown-toggle:hover:after,
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .btn.dropdown-toggle:hover i, .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size.show > .btn.dropdown-toggle .filter-option, .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size.show > .btn.dropdown-toggle:after,
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size.show > .btn.dropdown-toggle i {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    color: #FFFFFF !important;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .dropdown-menu.inner > li.selected > a span.check-mark {
    margin-top: -0.6rem;
  }
  .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .dropdown-menu {
    z-index: 100;
  }
  .modal .datatable.datatable-default > .datatable-pager > .datatable-pager-info .datatable-pager-size .dropdown-menu {
    z-index: 1051;
  }
  .datatable.datatable-default .ps > .ps__rail-y > .ps__thumb-y,
  .datatable.datatable-default .ps > .ps__rail-x > .ps__thumb-x {
    background-color: #EBEDF3;
  }
  .datatable.datatable-default .ps > .ps__rail-y > .ps__thumb-y:hover, .datatable.datatable-default .ps > .ps__rail-y > .ps__thumb-y:focus,
  .datatable.datatable-default .ps > .ps__rail-x > .ps__thumb-x:hover,
  .datatable.datatable-default .ps > .ps__rail-x > .ps__thumb-x:focus {
    background-color: #EBEDF3;
  }
  .dataTables_wrapper {
    padding: 0 !important;
  }
  .dataTables_wrapper .dataTable {
    width: 100% !important;
    border-collapse: initial !important;
    border-spacing: 0 !important;
    margin: 1rem 0 !important;
    border-radius: 0.42rem;
  }
  .dataTables_wrapper .dataTable th, .dataTables_wrapper .dataTable td {
    font-weight: 400;
    font-size: 1rem;
    vertical-align: middle;
    color: #3F4254;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    outline: none !important;
    padding: 1rem 1rem;
  }
  .dataTables_wrapper .dataTable th .checkbox, .dataTables_wrapper .dataTable td .checkbox {
    margin: 0;
    right: -2px;
  }
  .dataTables_wrapper .dataTable th.dt-center, .dataTables_wrapper .dataTable td.dt-center {
    text-align: center;
  }
  .dataTables_wrapper .dataTable th.dt-left, .dataTables_wrapper .dataTable td.dt-left {
    text-align: left;
  }
  .dataTables_wrapper .dataTable th.dt-right, .dataTables_wrapper .dataTable td.dt-right {
    text-align: right;
  }
  .dataTables_wrapper .dataTable th.sorting:before, .dataTables_wrapper .dataTable th.sorting:after, .dataTables_wrapper .dataTable td.sorting:before, .dataTables_wrapper .dataTable td.sorting:after {
    opacity: 0.6;
  }
  .dataTables_wrapper .dataTable th.sorting_desc:before, .dataTables_wrapper .dataTable th.sorting_desc:after, .dataTables_wrapper .dataTable th.orting_asc_disabled:before, .dataTables_wrapper .dataTable th.orting_asc_disabled:after, .dataTables_wrapper .dataTable th.orting_desc_disabled:before, .dataTables_wrapper .dataTable th.orting_desc_disabled:after, .dataTables_wrapper .dataTable th.sorting_asc:before, .dataTables_wrapper .dataTable th.sorting_asc:after, .dataTables_wrapper .dataTable th.sorting:before, .dataTables_wrapper .dataTable th.sorting:after, .dataTables_wrapper .dataTable td.sorting_desc:before, .dataTables_wrapper .dataTable td.sorting_desc:after, .dataTables_wrapper .dataTable td.orting_asc_disabled:before, .dataTables_wrapper .dataTable td.orting_asc_disabled:after, .dataTables_wrapper .dataTable td.orting_desc_disabled:before, .dataTables_wrapper .dataTable td.orting_desc_disabled:after, .dataTables_wrapper .dataTable td.sorting_asc:before, .dataTables_wrapper .dataTable td.sorting_asc:after, .dataTables_wrapper .dataTable td.sorting:before, .dataTables_wrapper .dataTable td.sorting:after {
    top: 50% !important;
    margin-top: -0.75rem;
    bottom: auto !important;
  }
  .dataTables_wrapper .dataTable th.sorting_asc, .dataTables_wrapper .dataTable td.sorting_asc {
    color: #DE1B1B !important;
  }
  .dataTables_wrapper .dataTable th.sorting_asc:before, .dataTables_wrapper .dataTable td.sorting_asc:before {
    opacity: 1;
    color: #DE1B1B !important;
  }
  .dataTables_wrapper .dataTable th.sorting_desc, .dataTables_wrapper .dataTable td.sorting_desc {
    color: #DE1B1B !important;
  }
  .dataTables_wrapper .dataTable th.sorting_desc:after, .dataTables_wrapper .dataTable td.sorting_desc:after {
    opacity: 1;
    color: #DE1B1B !important;
  }
  .dataTables_wrapper .dataTable tfoot th,
  .dataTables_wrapper .dataTable thead th {
    font-weight: 500;
    color: #181C32;
  }
  .dataTables_wrapper .dataTable thead th {
    border-top: 0;
  }
  .dataTables_wrapper .dataTable tbody tr.active,
  .dataTables_wrapper .dataTable tbody tr.selected {
    background-color: #EBEDF3;
  }
  .dataTables_wrapper .dataTable tbody tr.active th, .dataTables_wrapper .dataTable tbody tr.active td,
  .dataTables_wrapper .dataTable tbody tr.selected th,
  .dataTables_wrapper .dataTable tbody tr.selected td {
    background-color: #EBEDF3;
    border-left-color: #EBEDF3;
    border-right-color: #EBEDF3;
    color: #3F4254;
  }
  .dataTables_wrapper .dataTable .group th, .dataTables_wrapper .dataTable .group td {
    background-color: #F3F6F9;
  }
  .dataTables_wrapper .dataTable .filter th, .dataTables_wrapper .dataTable .filter td {
    vertical-align: top;
  }
  .dataTables_wrapper .dataTable .filter th .input-group + .input-group, .dataTables_wrapper .dataTable .filter td .input-group + .input-group {
    margin-top: 0.5rem;
  }
  .dataTables_wrapper .dataTable .filter th .btn + .btn, .dataTables_wrapper .dataTable .filter td .btn + .btn {
    margin-top: 0.5rem;
  }
  .dataTables_wrapper .dataTable .group th, .dataTables_wrapper .dataTable .group td {
    font-size: 1rem;
    font-weight: 500;
  }
  .dataTables_wrapper .dataTables_scroll {
    margin: 1rem 0 !important;
  }
  .dataTables_wrapper .dataTables_scroll .dataTable {
    margin: 0 !important;
  }
  .dataTables_wrapper .dataTables_paginate .pagination {
    margin: 0;
  }
  .dataTables_wrapper .dataTables_paginate .pagination .page-item {
    margin-left: 0.4rem;
  }
  .dataTables_wrapper .dataTables_paginate .pagination .page-item > .page-link {
    outline: none !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    min-width: 2.25rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    border-radius: 0.42rem;
    border: 0;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    color: #7E8299;
    background-color: transparent;
  }
  .dataTables_wrapper .dataTables_paginate .pagination .page-item > .page-link > i {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    font-size: 0.7rem;
    text-align: center;
    display: inline-block;
    color: #7E8299;
  }
  .dataTables_wrapper .dataTables_paginate .pagination .page-item.previous > .page-link, .dataTables_wrapper .dataTables_paginate .pagination .page-item.next > .page-link, .dataTables_wrapper .dataTables_paginate .pagination .page-item.last > .page-link, .dataTables_wrapper .dataTables_paginate .pagination .page-item.first > .page-link {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    background-color: #F3F6F9;
    color: #7E8299;
  }
  .dataTables_wrapper .dataTables_paginate .pagination .page-item.previous > .page-link:hover, .dataTables_wrapper .dataTables_paginate .pagination .page-item.next > .page-link:hover, .dataTables_wrapper .dataTables_paginate .pagination .page-item.last > .page-link:hover, .dataTables_wrapper .dataTables_paginate .pagination .page-item.first > .page-link:hover {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    background-color: #DE1B1B;
    color: #ffffff;
  }
  .dataTables_wrapper .dataTables_paginate .pagination .page-item.previous > .page-link:hover > i, .dataTables_wrapper .dataTables_paginate .pagination .page-item.next > .page-link:hover > i, .dataTables_wrapper .dataTables_paginate .pagination .page-item.last > .page-link:hover > i, .dataTables_wrapper .dataTables_paginate .pagination .page-item.first > .page-link:hover > i {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    color: #ffffff;
  }
  .dataTables_wrapper .dataTables_paginate .pagination .page-item.active > .page-link {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    background-color: #DE1B1B;
    color: #ffffff;
  }
  .dataTables_wrapper .dataTables_paginate .pagination .page-item.active > .page-link > i {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    color: #ffffff;
  }
  .dataTables_wrapper .dataTables_paginate .pagination .page-item:hover:not(.disabled) > .page-link {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    background-color: #DE1B1B;
    color: #ffffff;
  }
  .dataTables_wrapper .dataTables_paginate .pagination .page-item:hover:not(.disabled) > .page-link > i {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    color: #ffffff;
  }
  .dataTables_wrapper .dataTables_paginate .pagination .page-item.disabled > .page-link {
    opacity: 0.6;
  }
  .dataTables_wrapper .dataTables_pager {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .dataTables_wrapper .dataTables_pager .dataTables_info {
    display: inline-block;
    margin: 0.5rem 0;
    margin-right: 0.5rem;
    color: #7E8299;
  }
  .dataTables_wrapper .dataTables_pager .dataTables_length {
    margin: 0.5rem 0;
    margin-right: 1rem;
    display: inline-block;
  }
  .dataTables_wrapper .dataTables_pager .dataTables_length label {
    display: flex;
    align-items: center;
    margin: 0;
    color: #7E8299;
  }
  .dataTables_wrapper .dataTables_pager .dataTables_length .custom-select {
    margin-left: 0.5rem;
    height: 2.25rem;
    box-shadow: none !important;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .dataTables_wrapper .dataTables_pager .dataTables_paginate {
    margin: 0.5rem 0;
  }
  .dataTables_wrapper .dataTables_pager .dataTables_paginate .pagination {
    margin: 0;
  }
  .dataTables_wrapper .text-right .dataTables_filter,
  .dataTables_wrapper .text-left .dataTables_filter {
    display: inline-block;
  }
  @media (max-width: 991.98px) {
    .dataTables_wrapper .dataTables_pager {
      margin-top: 1rem;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: 767.98px) {
    .dataTables_wrapper .dataTables_paginate {
      margin-left: 0 !important;
    }
    .dataTables_wrapper .dataTables_paginate .pagination .page-item:first-child {
      margin-left: 0 !important;
    }
  }
  .dataTables_wrapper table.dataTable.collapsed > tbody > tr[role=row] > td:first-child {
    padding-left: 25px !important;
  }
  .dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child:before {
    box-shadow: none;
    border-radius: 0;
    top: 50%;
    left: 0;
    height: 18px;
    width: 18px;
    margin-top: -9px;
    font-size: 10px;
    color: #DE1B1B;
    border: 0;
    background-color: transparent;
    font-family: Ki;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "\F109";
  }
  .dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before {
    color: #DE1B1B;
    background-color: transparent;
    font-family: Ki;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "\F10E";
  }
  .dataTables_wrapper .child .dtr-details {
    display: table !important;
  }
  .dataTables_wrapper .child .dtr-details > li {
    display: table-row !important;
    border: 0 !important;
  }
  .dataTables_wrapper .child .dtr-details > li .dtr-title {
    display: table-cell;
    vertical-align: top;
    border-bottom: 1px dashed #F3F6F9;
    font-weight: 500;
    padding: 0.5rem 2rem 0.5rem 0;
  }
  .dataTables_wrapper .child .dtr-details > li .dtr-title:after {
    content: ":";
  }
  .dataTables_wrapper .child .dtr-details > li .dtr-data {
    display: table-cell;
    vertical-align: top;
    border-bottom: 1px dashed #F3F6F9;
    padding: 0.5rem 0;
  }
  .dataTables_wrapper .child .dtr-details > li:last-child .dtr-title {
    border-bottom: 0;
  }
  .dataTables_wrapper .child .dtr-details > li:last-child .dtr-data {
    border-bottom: 0;
  }
  .dataTables_wrapper .dt-bootstrap4 .dropdown .dropdown-menu.dropdown-menu-right {
    /*rtl:ignore*/
    margin-left: 65px;
  }
  .dual-listbox .dual-listbox__container .dual-listbox__selected,
.dual-listbox .dual-listbox__container .dual-listbox__available {
  width: auto;
  color: #3F4254;
  border: 1px solid #EBEDF3;
  border-bottom-left-radius: 0.42rem;
  border-bottom-right-radius: 0.42rem;
}
.dual-listbox .dual-listbox__container .dual-listbox__selected .dual-listbox__item,
.dual-listbox .dual-listbox__container .dual-listbox__available .dual-listbox__item {
  padding: 0.75rem 0.75rem;
  border-bottom: 1px solid #EBEDF3;
}
.dual-listbox .dual-listbox__container .dual-listbox__selected .dual-listbox__item:last-child,
.dual-listbox .dual-listbox__container .dual-listbox__available .dual-listbox__item:last-child {
  border-bottom: 0;
}
.dual-listbox .dual-listbox__container .dual-listbox__selected .dual-listbox__item.dual-listbox__item--selected,
.dual-listbox .dual-listbox__container .dual-listbox__available .dual-listbox__item.dual-listbox__item--selected {
  background-color: #F3F6F9;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-options .ql-picker-item.ql-selected, .ql-snow .ql-picker.ql-expanded .ql-picker-options .ql-picker-item.ql-active, .ql-snow .ql-picker.ql-expanded .ql-picker-options .ql-picker-item:hover {
  color: #DE1B1B;
}